
div
{
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
.fundDetailTitle{height: 40px;line-height: 40px;padding-left: 15px;color: darkorange}
.changeColor em{font-size: 14px !important;color: darkorange;}

.paddingIm{padding: 20px !important;}
.fundItemList span{ display: inline-block;padding-right: 10px;}
.fundItemList span em{color: #29b6b4;}