.footer{width: 100%;position: fixed;bottom: 0;left: 0;}
.footer li{float: left;width: 25%;text-align: center;}
.activeLi{color: #29b6b4;}
.tableWrap{width: 100%;margin-top: 20px;}
.listHead{width: 100%;}
.listHead td{width: 33.3%}
