<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>买入列表</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../../styles/base.css">
    <link rel="stylesheet" type="text/css" href="../../styles/common.css">
    <link rel="stylesheet" type="text/css" href="styles/buy.css">

    <link rel="stylesheet" type="text/css" href="../../bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../../node_modules/weui/dist/style/weui.css">
    <link rel="stylesheet" type="text/css" href="../../node_modules/jquery-weui/dist/css/jquery-weui.css">
    <script type="text/javascript" src="../../bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../../bower_components/jquery.cookie/jquery.cookie.js"></script>
    <script type="text/javascript" src="../../bower_components/underscore/underscore.js"></script>
    <script type="text/javascript" src="../../node_modules/jquery-weui/dist/js/jquery-weui.js"></script>
    <script type="text/javascript" src="../../js/util.js"></script>
    <script type="text/javascript" src="js/buy.js"></script>
</head>

<body>

    <!--标题栏-->
    <div class="topBar">
       可买入基金
    </div>

    <!--表格-->
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <span class="itemWidth" >基金代码</span>
            <span class="itemWidth">基金名称</span>
        </div>
    </div>
    <div class="weui-cells tplWrap">

    </div>

    <!--底部菜单-->
    <div class="weui-tabbar">
        <a href="javascript:;" class="weui-tabbar__item weui-bar__item--on">
            <div class="weui-tabbar__icon">
                <i class="fa fa-shopping-cart" style="color: #04BE02"></i>
            </div>
            <p class="weui-tabbar__label">买入市场</p>
        </a>
        <a href="javascript:;" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <i class="fa fa-cubes"></i>
            </div>
            <p class="weui-tabbar__label">持仓买入</p>
        </a>
        <a href="javascript:;" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <i class="fa fa-cube"></i>
            </div>
            <p class="weui-tabbar__label">持仓卖出</p>
        </a>
        <a href="javascript:;" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <i class="fa fa-cog"></i>
            </div>
            <p class="weui-tabbar__label">设置</p>
        </a>
    </div>
    <!-- 建立数据模板 -->
    <script id="listItem" type="text/template">
        <% _.each(data, function(item,index){ %>
        <a class="weui-cell weui-cell_access linkFundDetail" info='<%= JSON.stringify(item.id)%>'>
            <div class="weui-cell__bd">
                <span class="tplItem" ><%=item.code%></span>
                <span class="tplItem" ><%=item.name%></span>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
        <% }); %>
    </script>

</body>
</html>