<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>买入列表</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../../styles/base.css">
    <link rel="stylesheet" type="text/css" href="../../styles/common.css">
    <link rel="stylesheet" type="text/css" href="styles/buy.css">

    <link rel="stylesheet" type="text/css" href="../../bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../../node_modules/weui/dist/style/weui.css">
    <link rel="stylesheet" type="text/css" href="../../node_modules/jquery-weui/dist/css/jquery-weui.css">
    <script type="text/javascript" src="../../bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../../bower_components/jquery.cookie/jquery.cookie.js"></script>
    <script type="text/javascript" src="../../bower_components/underscore/underscore.js"></script>
    <script type="text/javascript" src="../../node_modules/jquery-weui/dist/js/jquery-weui.js"></script>
    <script type="text/javascript" src="../../js/util.js"></script>
    <script type="text/javascript" src="js/buy.js"></script>
</head>

<body>


    <div class="topBar">
       可买入基金
    </div>

    <table  class="tableWrap">
        <thead >
           <tr class="listHead">
               <td >基金代码</td>
               <td>基金名称</td>
               <td>操作</td>
           </tr>
        </thead>
        <tbody class="listItemWrap">
            <tr>
                <td>00120</td>
                <td>长河国际</td>
                <td>
                    <a class="weui-btn weui-btn_primary weui-btn_mini fr m20">详情</a>
                    <a class="weui-btn weui-btn_warn weui-btn_mini fr m20">新增买入</a>
                </td>
            </tr>
        </tbody>
    </table>



    <!--底部菜单-->
   <ul class="footer">
       <li >
           <a href="index.html" class="activeLi">
               <span class="fa fa-shopping-cart"></span>
               <p>买入市场</p>
           </a>
       </li>
       <li>
           <a href="rankingList.html">
               <span class="fa fa-bar-chart"></span>
               <p>持仓买入</p>
           </a>
       </li>
       <li>
           <a href="search.html">
               <span class="fa fa-sitemap"></span>
               <p>持仓卖出</p>
           </a>
       </li>
       <li>
           <a href="me.html">
               <span class="fa fa-cogs"></span>
               <p>设置</p>
           </a>
       </li>
   </ul>
    <!-- 建立数据模板 -->
    <script id="listItem" type="text/template">
        <% _.each(data, function(item,index){ %>
        <div class="personList" info='<%= JSON.stringify(item)%>'>
            <tr>
                <td><%=item.code%></td>
                <td><%=item.name%></td>
                <td>
                    <a class="weui-btn weui-btn_primary weui-btn_mini fr m20">详情</a>
                    <a class="weui-btn weui-btn_warn weui-btn_mini fr m20">新增买入</a>
                </td>
            </tr>
        </div>
        <% }); %>
    </script>

</body>
</html>