<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>持仓买入列表</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../../styles/base.css">
    <link rel="stylesheet" type="text/css" href="../../styles/common.css">
    <link rel="stylesheet" type="text/css" href="styles/holdSell.css">

    <link rel="stylesheet" type="text/css" href="../../bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../../node_modules/weui/dist/style/weui.css">
    <link rel="stylesheet" type="text/css" href="../../node_modules/jquery-weui/dist/css/jquery-weui.css">
    <script type="text/javascript" src="../../bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../../bower_components/jquery.cookie/jquery.cookie.js"></script>
    <script type="text/javascript" src="../../bower_components/underscore/underscore.js"></script>
    <script type="text/javascript" src="../../node_modules/jquery-weui/dist/js/jquery-weui.js"></script>
    <script type="text/javascript" src="../../js/util.js"></script>
    <script type="text/javascript" src="js/holdSell.js"></script>
</head>

<body>

    <!--标题栏-->
    <div class="topBar">
       持仓卖出列表
    </div>
    <!--搜索栏-->
    <div class="weui-search-bar" id="searchBar">
        <form class="weui-search-bar__form">
            <div class="weui-search-bar__box">
                <i class="weui-icon-search"></i>
                <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
                <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
            </div>
            <label class="weui-search-bar__label" id="searchText">
                <i class="weui-icon-search"></i>
                <span>搜索</span>
            </label>
        </form>
        <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
    </div>
    <!--表格-->
    <div class="weui-panel weui-panel_access pb50 ">
        <div class="weui-panel__bd tplWrap">


        </div>
    </div>


    <!--底部菜单-->
    <div class="weui-tabbar">
        <a href="../buy/buy.html" class="weui-tabbar__item ">
            <div class="weui-tabbar__icon">
                <i class="fa fa-shopping-cart" ></i>
            </div>
            <p class="weui-tabbar__label">买入市场</p>
        </a>
        <a href="../holdBuy/holdBuy.html" class="weui-tabbar__item ">
            <div class="weui-tabbar__icon">
                <i class="fa fa-cubes "></i>
            </div>
            <p class="weui-tabbar__label">持仓买入</p>
        </a>
        <a href="javascript:;" class="weui-tabbar__item weui-bar__item--on">
            <div class="weui-tabbar__icon">
                <i class="fa fa-cube " style="color: #04BE02"></i>
            </div>
            <p class="weui-tabbar__label">持仓卖出</p>
        </a>
        <a href="javascript:;" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <i class="fa fa-cog"></i>
            </div>
            <p class="weui-tabbar__label">设置</p>
        </a>
    </div>
    <!-- 建立数据模板 -->
    <script id="sellListItem" type="text/template">
        <% _.each(data, function(item,index){ %>
        <a class="weui-media-box weui-media-box_appmsg linkToDetail" info='<%= JSON.stringify(item.id)%>'>
            <div class="weui-media-box__bd fundItemList">
                <h4 class="weui-media-box__title"><%=item.fundName%></h4>
                <span class="weui-media-box__desc" >收益：<em><%=item.profit%>元</em></span>
                <span class="weui-media-box__desc" >持有天数：<em><%=item.holdDays%></em></span>
                <p class="weui-media-box__desc fr pt20" >卖出时间：<em><%=getMyDate(item.sellTime)%></em></p>
            </div>
        </a>
        <% }); %>
    </script>

</body>
</html>